.slider {
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.image {
  box-shadow: 10px 9px 40px 16px black;
  border-radius: 4px;
  height: 360px;
  width: auto;
}

.arrow-right {
  position: absolute;
  top: 45%;
  right: 15%;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.arrow-right:hover {
  color: #23b5d3;
}

.arrow-left {
  position: absolute;
  top: 45%;
  left: 15%;
  font-size: 3rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.arrow-left:hover {
  color: #23b5d3;
}

.slide {
  opacity: 0.7;
  transition-duration: opacity 3s ease;
}

.slide.active {
  opacity: 1;
  z-index: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  text-align: center;
  font-size: larger;
  align-items: center;
}
